@import "bootstrap";
@import "preboot";
@import "responsive";
@import "prettify";
@import "font-awesome";
/* Templates
-------------------------------------------------- */
@mixin font {
  font-size: $basefont;
  line-height: $baseline;
  font-weight: normal;
}
/* Body and structure
-------------------------------------------------- */
body {
  padding-top: 0px;
  background-color: #333;
  color: #fff;
  @include font;
}
p {@include font;}
.btn {@include font;
  font-weight: bold;
}
a:not(.btn) {color: $linkColor; &:hover{color: $linkColorHover;}}
a.btn { @include button;}
form {
margin: 0px;
}


/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 0px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}
.navbar-fixed-top { border-bottom: solid 5px $red;}


/* Space out sub-sections more
-------------------------------------------------- */
section {
  padding-top: 60px;
}





/* Footer
-------------------------------------------------- */
.footer {
  padding: 10px 0;
  border-top: 1px solid $white;
  margin-top: 10px;
}
.footer p {
  margin-bottom: 0;
  color: #fff;
}
/* Modals
-------------------------------------------------- */

label {
  color: #fff;
}
.modal-backdrop {
  background: #666;
}
.modal { 
  &.fade.in {
    top: 38% !important;
  }
  background-color: #333;
  .modal-footer {
    background: none;
  }
}
.popover-content, .popover-title {
  background-color: $white;
  color: #333;
}
.tooltip .tooltip-inner {
padding: 10px;
  font-size: $basefont;
  line-height: $baseline;
  text-align: left;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
  box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
}
.tooltip.top {margin-bottom: 10px;}
.tooltip.top .arrow { 
border-top: solid 5px #fff !important;}
.popover-title { display: none;}
.popover-inner { padding: 0px;border: none;}
.popover.right .arrow {
  border-right: 5px solid $white;
}
input[type="checkbox"] {margin-right: 5px !important; }
a.btn[data-dismiss="modal"] { float: left;}
label { margin-top: 5px;}
.carousel {
margin-bottom: 0px;
}
.nav.pull-right {vertical-align: middle; color: #fff;}
.form-horizontal .form-actions { padding-left: 10px;}
.nav.pull-right .btn-group {  display: inline-block; vertical-align: middle; margin-left: 5px;}
.modal-footer {border-top: none;}

.tooltip.in {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter:alpha(opacity=100);
  -moz-opacity:1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* Innings
-------------------------------------------------- */
.innings.progress, .innings.progress .bar { 
height: 23px;
-webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;}
.innings.progress {margin: 50px 0;}
.innings .btn {position: absolute;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; padding: 7px 10px; margin-top: -8px;
  -webkit-box-shadow: 0 0px 10px #333;
  -moz-box-shadow: 0 0px 10px #333;
  box-shadow: 0 0px 10px #333;
    -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  &:hover {-webkit-box-shadow: 0 0px 20px #000;
  -moz-box-shadow: 0 0px 20px #000;
  box-shadow: 0 0px 20px #000; color: #000;}}
  .innings .btn i { font-size: 20px;}
.innings .btn:nth-child(2) { margin-left: 130px;}
.innings .btn:nth-child(3) { margin-left: 260px;}
.innings .btn:nth-child(4) { margin-left: 410px;}
.innings .btn:nth-child(5) { margin-left: 540px;}
.innings .btn:nth-child(6) { margin-left: 685px;}
.innings .btn:nth-child(7) { margin-left: 833px;}
